* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ------- HORIZONTAL ------- */

.guitar-container {
  position: relative;
}

.guitar-img {
  width: 100%;
}

#button-gitaar-e {
  position: absolute;
  width: 100%;
  left: 8%;
  z-index: 1;
  top: 17%;
  opacity: 0.3;
}
#button-gitaar-b {
  position: absolute;
  width: 100%;
  left: 8%;
  z-index: 1;
  top: 30%;
  opacity: 0.3;
}
#button-gitaar-g {
  position: absolute;
  width: 100%;
  left: 8%;
  z-index: 1;
  top: 43%;
  opacity: 0.3;
}
#button-gitaar-d {
  position: absolute;
  width: 100%;
  left: 8%;
  z-index: 1;
  bottom: 40%;
  opacity: 0.3;
}
#button-gitaar-a {
  position: absolute;
  width: 100%;
  left: 8%;
  z-index: 1;
  bottom: 27%;
  opacity: 0.3;
}
#button-gitaar-6 {
  position: absolute;
  width: 100%;
  left: 8%;
  z-index: 1;
  bottom: 14%;
  opacity: 0.3;
}
